<h2 mat-dialog-title>Reset user password</h2>
<div  fxLayout="row" fxLayoutAlign="center center"  >
    <div   fxLayout="column" fxLayoutAlign="space-around start">
     <mat-form-field appearance="fill" class ="example-full-width">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected">
              <mat-option>None</mat-option>
              <mat-option value="JUMA">JUMA </mat-option>
              <mat-option value="MELINA">MELINA </mat-option>
              <mat-option value="HOPE">HOPE </mat-option>
            </mat-select>
          </mat-form-field>
          <p>You selected: {{selected}}</p>
         

          <form class="example-form">
         <mat-form-field class ="example-full-width" appearance="outline">
              <mat-label>new password</mat-label>
             <input matInput  type="password" hint="ariana">
            </mat-form-field>
         
            <mat-form-field class ="example-full-width" appearance="outline">
            <mat-label>confirm password</mat-label>
          <input matInput type="password" hint="ariana">
        </mat-form-field>
           </form>
           
           <div   fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-raised-button  color="primary" style="margin-left:350px; "> Create </button>
          </div> 
    </div>
   
</div>