<form    [formGroup]="myForm" (ngSubmit)="submitForm()">
  <h2 mat-dialog-title>Reset user password</h2>
  <div  fxLayout="row" fxLayoutAlign="center center"  >
      <div   fxLayout="column" fxLayoutAlign="space-around start">
       <mat-form-field appearance="fill" class ="example-full-width">
              <mat-label>Select an option</mat-label>
              <mat-select    formControlName="users">
                <mat-option>None</mat-option>
                <mat-option  [value]="users.displayName" *ngFor="let users of user">{{users.displayName}} </mat-option>
               
              </mat-select>
            </mat-form-field>
            <p>You selected: </p>
           
  
            
           <mat-form-field class ="example-full-width" appearance="outline">
                <mat-label>new password</mat-label>
               <input matInput  type="password" hint="ariana"  formControlName="password">
               <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div> -->
              
              </mat-form-field>
            
           
              <mat-form-field class ="example-full-width" appearance="outline">
              <mat-label>confirm password</mat-label>
            <input matInput type="password" hint="ariana" formControlName="confirmpassword">
            <!-- <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div> -->
             </mat-form-field>
            
             
             <mat-dialog-actions>
              <div   fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-raised-button color="primary" style="margin-left:350px; "   (click)=" openSnackBar()" (click) =" submitForm()" matDialogClose="yes" > Submit </button>
                </div> 
             </mat-dialog-actions>
      </div>
     
  </div>
</form>