<div  style="margin-top: 10px;">
  

<!-- <table *ngFor="let messagedata of messagedata">
  <tr> 
    <td></td>
  </tr>
</table> -->

<h2 mat-dialog-title>  USER FEEDBACK </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">feedback</th>
      <th scope="col">approve</th>
      <th scope="col">delete</th>
      <th scope="col">pending request...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let messagedata of messagedata">
      <td>{{messagedata.messageType}}</td>
      <td>{{messagedata.displayName}}</td>
      <td> <button mat-stroked-button color= "primary"> Approve </button></td>
      <td><button mat-raised-button color="warn"> Reject  </button></td>
      <td>
        <button mat-raised-button > pending...  </button>
      </td>
    </tr>
  </tbody>
</table>

</div>