<mat-accordion>    
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle  *ngFor="let messagedata of messagedata">
    <mat-expansion-panel-header>
  
      <mat-panel-title >
        <mat-icon>account_circle</mat-icon>
         {{messagedata.user?.name}}
      </mat-panel-title>
      <mat-panel-description>
        Subject :{{messagedata.subject}}
        
        <mat-icon>feedback</mat-icon>
      <span class="spacer"></span>
        
        <button mat-raised-button  color="warn">DELETE</button>
      </mat-panel-description>
    </mat-expansion-panel-header>

     <form   >

      {{messagedata.messages }}
      
    <mat-action-row>
      <button mat-stroked-button  color="warn">Reject</button>
      <button mat-button color="primary">Accept</button>
    </mat-action-row>
  </form>
  </mat-expansion-panel>
</mat-accordion>


































<!-- <div  style="margin-top: 10px;">
<h2 mat-dialog-title>  USER FEEDBACK </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">profile</th>
      <th scope="col">message type</th>
      <th scope="col">feedback</th>
      <th scope="col">approve</th>
      <th scope="col">delete</th>
      <th scope="col">pending request...</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let messagedata of messagedata">
      <td>{{messagedata.user}}</td>
      <td>{{messagedata.messageType}}{{messagedata.messageType}}</td>
      <td>{{messagedata.subject}} </td>
      <td> <button mat-stroked-button color= "primary"> Approve </button></td>
      <td><button mat-raised-button color="warn"> Reject  </button></td>
      <td>
        <button mat-raised-button > pending...  </button>
      </td>
    </tr>
  </tbody>
</table>

</div> -->