.application-content {
  position:  sticky;
  /* margin-top: 50px; */
}
.container{
  margin-top: 10px;
}
app-requestfromuser{

  position: fixed;
  background-position: center;

  width: 100%;

}
button{
  align-content:flex-start;
}

table {
  width: 100%;
}

.example-container {
  width: 100%;
  height: 100vh;
  margin: 10px;
  border: 1px ;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}


