<mat-accordion >

    <!-- <table  class="table table-bordered">
  
    <thead>
        <tr>
          <th scope="col">profile</th>
          <th scope="col">message type</th>
          <th scope="col">feedback</th>
          <th scope="col">approve</th>
          <th scope="col">delete</th>
          <th scope="col">pending request...</th>
        </tr>
      </thead>
  
    </table> -->
  
  
          
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle  *ngFor="let messagedata of messagedata">
      <mat-expansion-panel-header> 
        <mat-panel-title >
          <mat-icon>account_circle</mat-icon>
           {{messagedata.user?.name}}
          </mat-panel-title>
        <mat-panel-description>
          Subject :{{messagedata.subject}}
          
          <mat-icon>feedback</mat-icon>
        <span class="spacer"></span>
           {{messagedata.created}}
          <button mat-raised-button color="warn">DELETE</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
          <div  *ngIf="displaymessage">
            <div   fxLayout="row" fxLayoutAlign="start start">
              <mat-icon>account_circle</mat-icon>
              {{messagedata.user?.name}} 
            </div>
            <p> {{textmessages}}</p>
          </div>
    <div  *ngIf="started">  {{messagetsata.subject}}</div>

<mat-card>   {{messagesdata | json }}</mat-card>

      <!-- <form class="example-form"  [formGroup]="myForm" (ngSubmit)="submitForm()">

        <mat-form-field class="example-full-width"  appearance="outline">
          <mat-label>write a Text</mat-label>
          <textarea matInput rows="5" cols="50" placeholder="text"  formControlName ="text" ></textarea>
          <input    #file type="file" accept="image/*" (change)="upload(file.files)">
        </mat-form-field>
        <button mat-raised-button  color="primary" >Submit</button>
      
        <button mat-stroked-button  style="margin-left: 10px;">DISCARD</button>
      </form> -->
       
      <mat-action-row>
        <button mat-stroked-button  color="warn">Reject</button>
        <button mat-button color="primary">Accept</button>
      </mat-action-row>
      

    </mat-expansion-panel>
  </mat-accordion>